.contenedor {
  display: grid;
  grid-template-rows: 3fr 6fr 1fr;
  grid-template-columns: 55% 45%;
  grid-template-areas: "header header"  "main video"  "footer footer";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100vh; }
  .contenedor header {
    grid-area: header;
    background-color: #d8c6c6;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .contenedor header nav ul li {
      display: inline-block; }
      .contenedor header nav ul li a {
        text-decoration: none;
        display: inline-block;
        background-color: gray;
        color: black;
        border-radius: 50px;
        font-size: 20px;
        margin: 10px;
        padding: 10px; }
  .contenedor main {
    grid-area: main;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center; }
    .contenedor main #boxJugar {
      display: flex;
      flex-direction: column;
      justify-content: center; }
    .contenedor main #listaPersonajes {
      text-align: center; }
    .contenedor main #resultadoJuego {
      text-align: center; }
    .contenedor main #formulario {
      display: none; }
    .contenedor main #divSaludo {
      border: black 2px solid;
      display: none; }
      .contenedor main #divSaludo #btnNombre {
        font-size: 20px; }
    .contenedor main #divExplicacion1 {
      display: none; }
    .contenedor main #formJuego {
      display: none; }
    .contenedor main #formContestacion1 {
      display: none; }
    .contenedor main #divResultado {
      display: none; }
    .contenedor main #divPreguntas {
      display: none; }
  .contenedor .video {
    grid-area: video;
    /* background-image: url('../img/introduccion.jpg');
        background-repeat: no-repeat;
        background-size: cover;
             */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .contenedor footer {
    grid-area: footer;
    background-color: gray; }
    .contenedor footer p {
      text-align: center; }
