



.contenedor{
    display: grid;
    grid-template-rows: 3fr 6fr 1fr;
    grid-template-columns: 55% 45%;
    grid-template-areas: "header header" 
                        "main video" 
                        "footer footer";
    
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
   

    header{
        grid-area: header;
        background-color: rgb(216, 198, 198);
        display: flex;
        flex-direction: column;
        align-items: center;
        

        nav{
            ul{
                li{
                    display: inline-block;
                    a{     
                        text-decoration: none;                 
                        display: inline-block;
                        background-color: gray;
                        color: black;
                        border-radius: 50px;
                        font-size: 20px;
                        margin: 10px;
                        padding: 10px;
                    }
                }
            }
        }
    }

    main{
        grid-area: main;
        background-color: antiquewhite;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;

        #boxJugar{
            display: flex;
            flex-direction: column;
            justify-content: center;

            #btnJugar{
                
            }

        }

        #listaPersonajes{
            text-align: center;
        }

        #resultadoJuego{
           text-align: center;
         
        }

        #formulario{
          display: none;
        }

        #divSaludo{
            border: black 2px solid;
            display: none;

            #btnNombre{
                font-size: 20px;
            }
        }

        #divExplicacion1{
            display: none;
        }

        #formJuego{
            display: none;
        }

        #formContestacion1{
            display: none;
        }

        #divResultado{
            display: none;
        }

     
        
    }

    .video{
        grid-area: video;
        /* background-image: url('../img/introduccion.jpg');
        background-repeat: no-repeat;
        background-size: cover;
             */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }    
    footer{
        grid-area: footer;
        background-color: gray;
        p{
            text-align: center;
        }
    }
}