@mixin flexCenter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;

    
}


@mixin botones{
    font-size: 2rem;
    background-color: $colorBtn;
    border-radius: 0.7rem;
    padding: 0.5rem;
    &:hover{
        transform: scale(1.2);
        color: white;  
    }

}


@mixin inputs{
    font-size: 2rem;
}

@mixin textos{
    font-size: 2rem;
}